
/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

/* defaults */
.title, .topic, .dash {
  max-width: 1200px;
  margin:  auto;
  padding: 25px;
}

.topic, section, .project {
  margin: 5px auto;
  border-radius: 5px;
}

/* BACKGROUND */
.App {
  background: gray;
  height: 100vh;
  padding: 0 0 25px 0;
}

/* HEADER */

header {
  background: black;
  color: white;
}

.title {
  /* border: solid red; */
}

.title h2 {
  font-family: 'Economica', sans-serif;
  /* text-align: left; */
  /* margin-left: 50px; */
  font-weight: 900;
  font-size: 3rem;
}

/* TOPIC */
.topic {
  /* border: solid red; */
  background: lightgray;
}

.topic h2 {
  /* text-align: left; */
}

/* SECTIONS */
section {
  margin: 4px auto;
}

section h3 {
  color: #e75480;
}

.section-name {
  display: flex;
}

/* PROJECTS */
.project {
  background: white;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid darkgray;
}

.project-buttons {
  display: flex;
}

/* buttons */
button{
  height: 1.4rem;
  font-size: 1rem;
  border-radius: 2px;
  background: pink;
  border: 1px solid gray;
}

.project-buttons button, .topic-buttons button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  font-weight: 700;
}

.topic-buttons {
  display: flex;
  align-items: center;
}

.topic-buttons button{
  font-weight: bold;
}

