
/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Economica&display=swap');

/* defaults */
.title, .topic {
  max-width: 1200px;
  margin:  auto;
  padding: 25px;
}

/* BACKGROUND */
.App {
  background: gray;
  height: 100vh;
}

/* HEADER */

header {
  background: black;
  color: white;
}

.title {
  /* border: solid red; */
}

.title h2 {
  font-family: 'Economica', sans-serif;
  text-align: left;
  /* margin-left: 50px; */
  font-weight: 900;
  font-size: 3rem;
}

/* TOPIC */
.topic {
  /* border: solid red; */
  background: lightgray;
  margin: 10px auto;
  border-radius: 5px;
}

.topic h2 {
  text-align: left;
}

